@import url('./fonts.css');
@import url('./typography.css');
@import url('./backgrounds.css');
@import url('./animations.css');
@import url('./social-icons.css');
@import url('./nprogress.css');

html,
body {
  @apply font-body;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply text-sm sm:text-base transition-all;
}

* {
  outline: none !important;
}

input {
  caret-color: theme('colors.pink.500');
}

#app {
  @apply text-gray-900 dark:text-gray-50;
}

a {
  @apply cursor-pointer;
}

/* Hide number input spin/arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield; /* Firefox */
}

*::-webkit-scrollbar {
  @apply bg-gray-50 dark:bg-gray-900;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-200 dark:bg-gray-700;
}
