@import './fonts.css';
@import './typography.css';
@import './backgrounds.css';
@import './animations.css';
@import './social-icons.css';
@import './nprogress.css';

html,
body {
  @apply font-body;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

* {
  outline: none !important;
}

input {
  caret-color: theme('colors.pink.500');
}

#app {
  @apply text-gray-900 dark:text-gray-50;
}

#storybook-app {
  @apply text-gray-900 dark:text-gray-50;
}

a {
  @apply cursor-pointer;
}

/* Hide number input spin/arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield; /* Firefox */
}

*::-webkit-scrollbar {
  @apply bg-gray-50 dark:bg-gray-900;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-200 dark:bg-gray-700;
}
