@import "./fonts.css";
@import "./typography.css";
@import "./animations.css";

html,
body {
  @apply font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

* {
  outline: none !important;
}

input {
  caret-color: theme('colors.pink.500');
}

#app {
  @apply bg-white dark:bg-gray-900;
  @apply text-gray-900 dark:text-gray-50;
  min-height: calc(100vh + 1px);
}

#storybook-app {
  @apply text-gray-900 dark:text-gray-50;
}

a {
  @apply cursor-pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*::-webkit-scrollbar {
  @apply dark:bg-gray-900;
}
*::-webkit-scrollbar-thumb {
  @apply dark:bg-gray-700;
}
