@import "./fonts.css";
@import "./typography.css";

html,
body {
  @apply font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none !important;
}

#app {
  @apply min-h-screen bg-gray-50 dark:bg-gray-900;
  @apply text-gray-900 dark:text-gray-50;
}

#storybook-app {
  @apply text-gray-900 dark:text-gray-50;
}

a {
  @apply cursor-pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
