@import "../animations/fireworks.css";

.icon-spin-anim .feather-settings {
  @apply transition-all duration-200 ease-out;
}

.icon-spin-anim:hover .feather-settings {
  transform: scale(1.2) rotate(-45deg);
}

.icon-spin-anim:hover .bal-icon {
  @apply text-blue-500;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out both;
}

.fade-in-slow {
  animation: fadeIn 1s ease-out 0.1s both;
}

@keyframes fadeInMoveUp {
  0% {
      opacity: 0;
      transform: translateY(5px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

@keyframes spin-quarter {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(-90deg);
    opacity: 1;
  }
}