@font-face {
  font-family: 'Inter-Variable';
  src: url('../../fonts/Inter-Variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tiempos Headline Medium";
  src: url("../../fonts/tiemposDispMed.woff2") format("woff2"),
    url("../../fonts/tiemposDispMed.woff") format("woff"), format("opentype"),
    url("../../fonts/tiemposDispMed.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}


@font-face {
  font-family: 'Gotham Rounded';
  src: url('../../../beethovenx/assets/fonts/GothamRounded-Bold.woff2') format('woff2'),
  url('../../../beethovenx/assets/fonts/GothamRounded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../../../beethovenx/assets/fonts/GothamRounded-Medium.woff2') format('woff2'),
  url('../../../beethovenx/assets/fonts/GothamRounded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../../../beethovenx/assets/fonts/GothamRounded-Light.woff2') format('woff2'),
  url('../../../beethovenx/assets/fonts/GothamRounded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}