
@import '~nprogress/nprogress.css';

/* nprogress overrides */
#nprogress .bar {
  @apply bg-blue-800 dark:bg-blue-500;
}


#nprogress .peg {
  box-shadow: 0 0 10px #384aff, 0 0 5px #384aff;
}

#nprogress .spinner-icon {
  border-top-color: #384aff;
  border-left-color: #384aff;
}

