h1,
h2 {
  @apply font-display;
  font-weight: 600;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl font-bold;
}

h3,
h4,
h5,
h6 {
  @apply font-body;
}
h3 {
  @apply text-2xl tracking-tight;
  font-variation-settings: 'wght' 600;
}
h4 {
  @apply text-xl tracking-tight;
  font-variation-settings: 'wght' 600;
}
h5 {
  @apply text-lg;
  font-weight: unset;
  font-variation-settings: 'wght' 600;
}
h6 {
  font-variation-settings: 'wght' 600;
}

.eth-address {
  font-variant-ligatures: no-contextual;
}

/* Using font-variation-settings instead of font-weight for the Inter variable font */

th,
.font-thin,
.font-extralight,
.font-light,
.font-normal,
.font-medium,
.font-semibold,
.font-bold,
.font-extrabold,
.font-black {
  font-weight: unset;
}

th {
  font-variation-settings: 'wght' 600;
}

.font-thin {
  font-variation-settings: 'wght' 100;
}
.font-extralight {
  font-variation-settings: 'wght' 200;
}
.font-light {
  font-variation-settings: 'wght' 300;
}
.font-normal {
  font-variation-settings: 'wght' 400;
}
.font-medium {
  font-variation-settings: 'wght' 500;
}
.font-semibold {
  font-variation-settings: 'wght' 600;
}
.font-bold {
  font-variation-settings: 'wght' 700;
}
.font-extrabold {
  font-variation-settings: 'wght' 800;
}
.font-black {
  font-variation-settings: 'wght' 900;
}

.font-numeric {
  font-feature-settings: 'tnum';
  letter-spacing: -0.5px;
}

.text-gradient {
  @apply bg-blue-500;
  background-image: linear-gradient(45deg, theme('colors.blue.500'), theme('colors.pink.500'));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.link {
  @apply text-blue-500 hover:text-blue-800 focus:text-blue-800 dark:text-blue-400 dark:hover:text-blue-200 transition-all hover:underline focus:underline;
}
