# Balancer app CODEOWNERS FILE.

/src/ @alter-eggo @garethfuller @simeonkerkola @agualis @timjrobinson @Matthews3301
/tests/ @alter-eggo @garethfuller @simeonkerkola @agualis @timjrobinson @Matthews3301
