name: Allowlist pool

on:
  workflow_call:
    inputs:
      network:
        type: string
        required: true
      poolType:
        type: string
        required: true
      poolId:
        type: string
        required: true
      poolDescription:
        type: string
        required: false

jobs:
  allowlist-pool:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: master
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '20.x'
      - name: Install deps
        run: npm install cac
      - name: Run allowlist script
        run: npx vite-node ./src/lib/scripts/automatic-prs/allowlist-pool.ts --network ${{inputs.network}} --poolType ${{inputs.poolType}} --poolId \"${{inputs.poolId}}\" --poolDescription "${{inputs.poolDescription}}"
      - name: Run eslint fix of updated config files
        run: npm run lint:fix:config
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'chore: Add ${{inputs.poolDescription}} pool to ${{inputs.network}} allowlist'
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: update-allowlist-${{inputs.network}}-${{inputs.poolId}}
          base: master
          delete-branch: true
          title: 'Allowlist ${{inputs.poolDescription}} pool'
          body: |
            [Link to Pool](https://app.balancer.fi/#/${{inputs.network}}/pool/${{inputs.poolId}})

            This PR was autogenerated by the allowlist manual Github action.
          draft: false
          labels: allowlist
