name: Checks

on:
  - pull_request

env:
  VITE_FATHOM_SITE_ID: xxx

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - name: Install deps
        run: npm install -g npm@7 && npm ci
      - name: Run build
        env:
          # Increase memory to avoid heap error
          # https://github.com/vitejs/vite/issues/2433
          NODE_OPTIONS: '--max-old-space-size=8192'
        run: npm run build

  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - name: Install deps
        run: npm install -g npm@7 && npm ci
      - name: Run lint
        run: npm run lint
      - name: Run prettier
        run: npm run prettier
      - name: Run stylelint
        run: npm run stylelint

  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - name: Install deps
        run: npm install -g npm@7 && npm ci
      - name: Run typecheck
        run: npm run typecheck
      - name: Run tests
        run: npm run test:unit
